.docsLayout {
  display: flex;
  min-height: calc(100vh - 64px - 200px);
  flex-direction: column;
}

.docsSidebar {
  width: 100%;
  border-bottom: 1px solid var(--os-border);
  padding: 1rem 1.5rem;
}

.docsMain {
  flex: 1;
  padding: 1.5rem;
  max-width: 100%;
}

@media (min-width: 768px) {
  .docsLayout {
    flex-direction: row;
  }
  
  .docsSidebar {
    width: 250px;
    border-bottom: none;
    border-right: 1px solid var(--os-border);
    padding: 2rem;
  }
  
  .docsMain {
    padding: 2rem 4rem;
    max-width: 800px;
  }
}
